@mixin LogoBorde ($width,$mw,$balto,$bancho,$bcolor,$bradius,$bestilo){
    width:$width;
    max-width: $mw;
    height:$balto;
    border-width: $bancho;
    border-color:$bcolor;
    border-radius: $bradius;
    border-style: $bestilo;
    
  }

  @mixin footer-rec ($elemento1,$elemento2,$elemento3,$elemento4) {
    text-align: $elemento1;
    padding: $elemento2;
    background-color: $elemento3;
    color:$elemento4;}