@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import "grilla.grid";
@import "mixin";
@import "variables";
@import "productos";  



.LogoBorde { @include LogoBorde(70%,180px ,auto ,3px ,black,100px,double )}
.color { background-color:$color-fondo;}
.color1 {background:$color-marca; }

.imgtamaño {
    width: 30px;
    height: 30px;
}

.espacio {
    width: 100%;
    height: 50px;

}

.card-img-top{
    width: 100%;
    height: 150px;
    justify-items: center;
    border-radius: 5px;

}


